* { 
    box-sizing: border-box;
}
/*responsive grid*/
.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  .row::before, .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6,.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  .col-3, .col-4, .col-6, .col-12 {
    width: 100%;
  }
  /*media query*/
  @media only screen and (min-width: 640px) {
    .col-3 {
      width: 25%;
    }
  
    .col-4 {
      width: 33.33%;
    }
  
    .col-6 {
      width: 50%;
    }  
     .col-12 {
      width: 100%;
    }
}
/*typography*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #707070;
}
h1 {
    font-size: 55px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 32px;
}
.headlines {
    margin: 0 auto;
    color: #222222;
}
.hidden {
    display:none;
}
input {
    border: 1px solid #EFEFEF;
    border-radius: 3px;
}
.link, a {
    color: #FF9800;
    cursor: pointer;
}
.link:hover, a:hover {
    color: #F57C00;
}
.link:active, a:active {
    color: #E65100;
}
.logo {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: 50px;
    height: 70px;
    margin-right: 20px;
    margin-top: 15px;    
}
.primary-button {
    color: #FFFFFF;
    background-color: #9C27B0;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    cursor: pointer;
}
.primary-button:hover {
    background-color: #7B1FA2;
}
.primary-button:active {
    background-color: #6A1B9A;
}

/* style for index page */

.index img {
    display: block;
    margin: auto;
}
.index span {
    display: block;
    text-align: center;
    margin: 25px auto;
}

#start-button {
    display: block;
    width: 310px;
    height: 44px;
    font-size: 21px;
    margin: auto;
}
/* style for login page */
#sign-in-form input, #register-form input {
    padding-left: 20px;
    width: 310px;
    height: 44px;
    margin: 10px;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    font-size: 17px;
    color: #707070;
}

#sign-in-button, #register-button {
    width: 320px;
    height: 44px;
    margin-top: 10px;
    font-size: 21px;
}

#register-note {
    clear: left;
    text-align: center;
}
#register-link:hover {
    text-decoration: underline;
    color: #F57C00;
}
#register-link:active {
    text-decoration: underline;
    color: #E65100;
}
#demo {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/* style for dashboard page */
.container {
    display:block;
    border-bottom: 1px solid #707070;
}
#app-logo {
    display: inline;
}
#company-name {
    float: right;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 5px;
    color: #707070;
    display: inline;
}

#form-button {
    display: inline-block;
    float: right;
    width: 140px;
    height: 30px;
    margin-bottom: 20px;
}
#create-form {
    border: solid 1px #222222;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}
#create-form label {
    font-size: 17px;
    color: #222222;
}
#create-form input {
    padding: 10px;
    width: 310px;
    height: 40px;
}
#create-form button {
    width: 120px;
    height: 40px;
}
#search-bar {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    height: 40px;
    width: 320px;
    padding: 10px;
}
#find-button {
    height: 40px;
    width: 60px;
}
table, th, td {
    border-bottom: 1px solid #707070;
}
th, td {
    padding: 15px;
    text-align: center;
}

table#invoices {
    margin: 0 auto;
}
table#invoices tr:nth-child(odd) {
    color: #222222;
}
table#invoices tr:nth-child(even) {
    background-color: #FFFFFF;
}
/* style for preview page */


